<launch>
  <!-- You can overwrite these arguments from the commmand line. -->

  <!-- URDF parameter. -->
  <arg name="model" default="$(find gazebodemos)/urdf/seveneffort2.urdf"/>
  <arg name="model_sdf" default="$(find gazebodemos)/models/seveneffort_new.sdf"/>

  <arg name="2nd_model" default="$(find gazebodemos)/urdf/2nd_seveneffort2.urdf"/>
  <arg name="2nd_model_sdf" default="$(find gazebodemos)/models/2nd_seveneffort_new.sdf"/>

  <!-- The control parameters, stored in the YAML file.  -->
  <arg name="control_parameters"
       default="$(find gazebodemos)/config/sevenbot_control_parameters.yaml"/>

  <!-- These are arguments for Gazebo. -->
  <arg name="paused"     default="true"/>
  <!--
  <arg name="world_name" default="$(find gazebodemos)/worlds/stuff.world"/>
  <arg name="world_name" default="$(find gazebodemos)/worlds/slowtime.world"/>
  <arg name="world_name" default="$(find gazebodemos)/worlds/realtime.world"/>
  -->
  <arg name="world_name" default="$(find gazebodemos)/worlds/realtime.world"/>


  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" textfile="$(arg model)"/>
  <param name="robot_description_sdf" textfile="$(arg model_sdf)"/>

  <param name="2nd_robot_description" textfile="$(arg 2nd_model)"/>
  <param name="2nd_robot_description_sdf" textfile="$(arg 2nd_model_sdf)"/>

  <!-- Load the controller parameters -->
  <rosparam command="load" file="$(arg control_parameters)"/>


  <!-- Launch Gazebo with the given world. -->
  <!-- We use the empty world launch file to set other defaults. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world_name)"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="gui"          value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless"     value="false"/>
    <arg name="debug"        value="false"/>
  </include>

  <!-- Service call to gazebo_ros to spawn a URDF robot -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="robot_spawner"
	respawn="false"
	output="screen"
	args="-sdf -model sevenbot -param robot_description_sdf"/>

  <!-- Service call to gazebo_ros to spawn a 2nd URDF robot -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="robot_spawner2"
	respawn="false"
	output="screen"
	args="-sdf -model sevenbot2 -param 2nd_robot_description_sdf"/>

  <!-- Service call to gazebo_ros to spawn a table model -->
  <node pkg="gazebo_ros"
	type="spawn_model"
	name="table_spawner"
	respawn="false"
	output="screen"
	args="-sdf -model table -file $(find gazebodemos)/models/table/model.sdf -x 2.0 -y 1.0 -z -0.3"/> -->

  <!-- Service call to gazebo_ros to spawn a ball model -->
  <node pkg="gazebo_ros"
  type="spawn_model"
  name="ball_spawner"
  respawn="false"
  output="screen"
  args="-sdf -model ball -file $(find gazebodemos)/models/unit_sphere/model.sdf -x 0 -y 1.0 -z 1.75"/>


  <!-- Load the controllers. -->
  <node pkg="controller_manager"
	type="spawner"
	name="controller_spawner"
	respawn="false"
	output="screen"
	ns="/sevenbot"
	args="joint_state_publisher joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller joint7_position_controller"/>

<!-- Load the controllers. -->
  <node pkg="controller_manager"
	type="spawner"
	name="controller_spawner2"
	respawn="false"
	output="screen"
	ns="/sevenbot2"
	args="joint_state_publisher joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller joint7_position_controller"/>

  <!-- Start the IKIN tracker demo -->
  <node pkg="gazebodemos"
  	type="paddle_ball.py"
	name="paddle_ball"
	output="screen">
  </node>

</launch>
